<div class="ui grid">
  <div class="twelve wide column">
    {{outlet}}
  </div>


  <div class="four wide column" >
    {{partial "map-selector"}}
    
  {{#unless sortedHashtagsDesc.length}}
    NO CONTENT!
  {{/unless}}
    <div class="ui secondary vertical menu" id="username-list">


      {{#each hashtag in sortedHashtagsDesc}}
        <div {{action "activateHashtag" hashtag}} class="item">{{hashtag.count}} - #{{hashtag.text}}</div>
      {{/each}}
    </div>
  </div>
</div>

{{maxVarCont}}