<div class="ui grid">
  <div class="twelve wide column">
    {{outlet}}
  </div>

  <div class="four wide column" >
    {{partial "map-selector"}}
    
  {{#unless sortedHashtagsDesc.length}}
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  {{/unless}}
  
    <div class="ui secondary vertical menu" id="username-list">


      {{#each hashtag in sortedHashtagsDesc}}
        <a {{action "activateHashtag" hashtag}} class="item">{{hashtag.count}} - #{{hashtag.text}}</a>
      {{/each}}
    </div>
  </div>
</div>

{{maxVarCont}}