<div class="ui grid">
  <div class="twelve wide column">
    {{outlet}}
  </div>

  <div class="four wide column" >
    {{!-- <h3>Tweets - {{link-to "Hashtag Map" "hashtags"}}</h3> --}}
    {{partial "map-selector"}}
    
    <div class="ui secondary vertical menu" id="username-list">
    {{#each tweet in model}}
      <a {{action "panToPin" tweet}} class="item">{{tweet.text}} </a>
    {{/each}}
  </div>
</div>

{{log model}}